Debug/
Release/
/MotionClassification.v11.suo
/MotionClassification.opensdf
/MotionClassification.sdf
/MotionClassification.sln
MotionClassification/Release/
MotionClassification/Debug/
MotionClassification.v12.suo
MotionClassification/glm/
MotionClassification/data/
MotionClassification/MotionClassification.vcxproj
MotionClassification/MotionClassification.vcxproj.filters
MotionClassification/MotionClassification.vcxproj.user
MotionClassification/motion.txt
MotionClassification/skeleton.txt
MotionClassification/recognize/
MotionClassification/learned/
build/
*.zip

