Debug/
Release/
/MotionClassification.v11.suo
/MotionClassification.opensdf
/MotionClassification.sdf
/MotionClassification.sln
MotionClassification/Release/
MotionClassification/Debug/
MotionClassification.v12.suo
